
  .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  background: rgb(219, 219, 219);
}

.swiper-slide img{
  border-radius: 5px
}

.swiper-slide {
  border-radius: 10px;
  padding: 0;
}

.swiper-slide .details h3{
  margin: 0;
  padding: 20px;
  text-align: center;
  line-height:  20px;
  color: rgb(70, 70, 70);
}
