body{
    background: #0e0e0e;
    font-family: sans-serif;
    padding-top: 50px;
    transform: padding-top 0.5s ease;
}

p{
    margin-bottom: 2rem;
    line-height: 1.5;
    color: #363636;
}

p b{
    color: #0e0e0e;
}

.wrapper{
    border-radius: 4px;
    background: #ffff;
    max-width: 950px;
    margin:0 auto;
}

section{

    margin: 10px;
    padding: 20px;
    background: white;
    border: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

