.container-home {
    display: flex;
    background: url('../../assets/img/container-home.jpg') no-repeat fixed center center;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

.cont-text {
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: flex-start;
    width: 100%;
    height: 70%;
}   


.cont-text h2{
    color: #FFFF;
    align-items: center
}


.cont-text button{
    color: #FFFF;
}

@media (max-width: 768px){

    .container-home {
        background-size: 150%;
    }
    
}