body {
    background: black !important;
}

.contentInfo{
    height: 200px;
}


h1, h2, h3, h4, h5, h6, p{
    color: aliceblue;
}

a {
    font-size: larger;
    text-decoration: none;
}

.containerText{
    text-align: center;
}