:root {
  --color-primary :#292929;
  --color-secod :aliceblue;
}




body{
  background: var(--color-primary);
}

strong {
  color: var(--color-secod);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-secod);
}

p{
  color: var(--color-secod);
}

a{
  color: var(--color-secod);
}
